:root{
  --primary-color: #FFFFFF;
  --button-color: #333333;
  --text-color: #4F4F4F;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Space Mono', monospace;
  background: var(--primary-color);
}
h1 {
  font-family: 'Inconsolata', monospace;
}