:root{
  --primary-color: #FFFFFF;
  --button-color: #333333;
  --text-color: #4F4F4F;
  --footer-color: #BDBDBD;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Space Mono', monospace;
  background: var(--primary-color);
  padding: 2.5rem 4.75rem 1.5rem;
}
h1 {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.625rem;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}
h2 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 6rem;
  letter-spacing: -0.035em;
  width: 36.625rem;
}
section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12.5rem 0 19.25rem;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.75rem;
}
img {
  height: 28rem;
  width: 33.75rem;
}
p{
  color: #4F4F4F;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: -0.035em;
  margin-top: 1.875rem;
  width: 23.75rem;
}
button {
  margin-top: 4.125rem;
  padding: 1.5rem 2.625rem;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: var(--primary-color);
  background: var(--button-color);
}
button:hover{
  opacity: 0.8;
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--footer-color);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1.5rem;
}
a {
  font-weight: bold;
  color: var(--footer-color);
}

@media screen and (max-width: 768px) {
  body {
    padding: 1.25rem 1.5rem 1.5rem;
  }
  h2{
    font-size: 3rem;
    line-height: 4.375rem;
    width: 100%;
  }
  section{
    flex-direction: column;
    margin: 4rem 0 7.125rem;
  }
  img {
    height: 13.75rem;
    width: 17.875rem;
  }
  p{
    font-size: 1.125rem;
    line-height: 1.75rem;
    width: 100%;
  }
}